.container {
  max-width: 60rem;
  margin: 0 auto;
}

// Block level grid component
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  // Modifier to center items in these grids
  &--centered {
    justify-content: center;
  }

  // Element within grid components
  &__item {
    flex-basis: calc(100% / 4 + -2rem);
    flex-grow: 1;
    margin: 1rem;

    // Modified grid__item that cannot be too wide
    &--max-half {
      max-width: 50%;

      // Take up to 100% on mobile
      @media (max-width: 500px) {
        max-width: 100%;
      }
    }
  }
}
