{{#link-to "project.new-project"}}Add new project{{/link-to}}

<div class="container">
  <table>
    <thead>
      <th>Name</th>
      <th>Goal</th>
      <th></th>
    </thead>

    <tbody>
      {{!-- model.forEach((project) => { /* Make tr in here */ }) --}}
      {{#each model as |project|}}
        <tr>
          <td>{{ project.name }}</td>
          {{!-- localeNumber(project.goal) // Javascript equiv --}}
          <td>${{locale-number project.goal}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
